.required,
.optional {
  font-weight: normal;
  color: #808080; }

.spinner {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.go-back-link {
  margin-bottom: 0.5em; }

ul.unstyled {
  list-style: none;
  margin-top: 0;
  margin-left: 0; }

.spacer-bottom {
  margin-bottom: 1em; }

.spacer-right {
  margin-right: 0.5em; }

.circle {
  border-radius: 1000px; }

h1.faded,
h2.faded,
h3.faded,
h4.faded,
h5.faded,
h6.faded,
p.faded {
  color: #ccc; }
